@font-face {
  font-family: "iconfont-MSP"; /* Project id 5187085 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont-MSP {
  font-family: "iconfont-MSP" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MSP-block1:before {
  content: "\e679";
}

.MSP-car:before {
  content: "\e67c";
}

.MSP-idcard:before {
  content: "\e682";
}

.MSP-like:before {
  content: "\e683";
}

.MSP-radarchart:before {
  content: "\e687";
}

.MSP-rocket1:before {
  content: "\e688";
}

.MSP-star:before {
  content: "\e689";
}

.MSP-read1:before {
  content: "\e68c";
}

.MSP-wifi1:before {
  content: "\e68d";
}

.MSP-solution1:before {
  content: "\e68e";
}

.MSP-video:before {
  content: "\e68f";
}

.MSP-chrome:before {
  content: "\e697";
}

.MSP-CodeSandbox1:before {
  content: "\e699";
}

.MSP-apartment1:before {
  content: "\e69a";
}

.MSP-expend1:before {
  content: "\e69b";
}

.MSP-folder-view1:before {
  content: "\e69c";
}

.MSP-Field-time1:before {
  content: "\e69d";
}

.MSP-formatpainter1:before {
  content: "\e69e";
}

.MSP-switchuser1:before {
  content: "\e6a0";
}

.MSP-robot1:before {
  content: "\e6a1";
}

.MSP-shortcut1:before {
  content: "\e6a2";
}

.MSP-Report1:before {
  content: "\e6a3";
}

.MSP-View1:before {
  content: "\e6a4";
}

.MSP-save:before {
  content: "\e60c";
}

.MSP-edit-square:before {
  content: "\e60d";
}

.MSP-linechart1:before {
  content: "\e60f";
}

.MSP-reloadtime1:before {
  content: "\e663";
}

.MSP-barchart1:before {
  content: "\e665";
}

.MSP-location:before {
  content: "\e66a";
}

.MSP-pointmap1:before {
  content: "\e66b";
}

.MSP-time-circle:before {
  content: "\e66c";
}

.MSP-message:before {
  content: "\e66d";
}

.MSP-bg-colors1:before {
  content: "\e66e";
}

.MSP-gift1:before {
  content: "\e66f";
}

.MSP-desktop1:before {
  content: "\e670";
}

.MSP-crown1:before {
  content: "\e671";
}

.MSP-pic-center1:before {
  content: "\e672";
}

.MSP-percentage1:before {
  content: "\e673";
}

.MSP-totop:before {
  content: "\e674";
}

.MSP-scissor1:before {
  content: "\e675";
}

.MSP-stop1:before {
  content: "\e676";
}

.MSP-unorderedlist1:before {
  content: "\e677";
}

.MSP-api1:before {
  content: "\e678";
}

.MSP-delete:before {
  content: "\e816";
}

.MSP-search:before {
  content: "\e660";
}

.MSP-safetycertificate:before {
  content: "\e807";
}

.MSP-insurance:before {
  content: "\e808";
}

.MSP-bulb:before {
  content: "\e809";
}

.MSP-bell:before {
  content: "\e80b";
}

.MSP-rest:before {
  content: "\e80d";
}

.MSP-funnelplot:before {
  content: "\e80e";
}

.MSP-lock:before {
  content: "\e80f";
}

.MSP-customerservice:before {
  content: "\e810";
}

.MSP-moneycollect:before {
  content: "\e814";
}

.MSP-medicinebox:before {
  content: "\e815";
}

.MSP-folder-add:before {
  content: "\e817";
}

.MSP-calendar-check:before {
  content: "\e81c";
}

.MSP-calendar:before {
  content: "\e81d";
}

.MSP-scan1:before {
  content: "\e81e";
}

.MSP-select:before {
  content: "\e81f";
}

.MSP-boxplot:before {
  content: "\e820";
}

.MSP-sliders:before {
  content: "\e822";
}

.MSP-laptop:before {
  content: "\e823";
}

.MSP-camera:before {
  content: "\e824";
}

.MSP-gateway:before {
  content: "\e825";
}

.MSP-cloud-server:before {
  content: "\e828";
}

.MSP-cloud-upload:before {
  content: "\e829";
}

.MSP-wifi:before {
  content: "\e82b";
}

.MSP-key:before {
  content: "\e82e";
}

.MSP-highlight:before {
  content: "\e82f";
}

.MSP-percentage:before {
  content: "\e831";
}

.MSP-pushpin:before {
  content: "\e832";
}

.MSP-phone:before {
  content: "\e833";
}

.MSP-shake:before {
  content: "\e834";
}

.MSP-wrench:before {
  content: "\e836";
}

.MSP-scissor:before {
  content: "\e837";
}

.MSP-mr:before {
  content: "\e838";
}

.MSP-fork:before {
  content: "\e83b";
}

.MSP-fullscreen:before {
  content: "\e83e";
}

.MSP-fullscreen-exit:before {
  content: "\e83f";
}

.MSP-sort-descending:before {
  content: "\e840";
}

.MSP-sort-ascending:before {
  content: "\e841";
}

.MSP-fall:before {
  content: "\e843";
}

.MSP-swap:before {
  content: "\e844";
}

.MSP-stock:before {
  content: "\e846";
}

.MSP-unorderedlist:before {
  content: "\e848";
}

.MSP-orderedlist:before {
  content: "\e849";
}

.MSP-align-right:before {
  content: "\e84a";
}

.MSP-align-center:before {
  content: "\e84b";
}

.MSP-align-left:before {
  content: "\e84c";
}

.MSP-pic-center:before {
  content: "\e84d";
}

.MSP-pic-right:before {
  content: "\e84e";
}

.MSP-bold:before {
  content: "\e850";
}

.MSP-font-colors:before {
  content: "\e851";
}

.MSP-exclaimination:before {
  content: "\e852";
}

.MSP-font-size:before {
  content: "\e853";
}

.MSP-infomation:before {
  content: "\e854";
}

.MSP-line-height:before {
  content: "\e855";
}

.MSP-strikethrough:before {
  content: "\e856";
}

.MSP-underline:before {
  content: "\e857";
}

.MSP-number:before {
  content: "\e858";
}

.MSP-italic:before {
  content: "\e859";
}

.MSP-code:before {
  content: "\e85a";
}

.MSP-check:before {
  content: "\e85c";
}

.MSP-dash:before {
  content: "\e85e";
}

.MSP-line:before {
  content: "\e85f";
}

.MSP-rollback:before {
  content: "\e860";
}

.MSP-bg-colors:before {
  content: "\e861";
}

.MSP-crown:before {
  content: "\e862";
}

.MSP-gift:before {
  content: "\e864";
}

.MSP-stop:before {
  content: "\e865";
}

.MSP-fire:before {
  content: "\e867";
}

.MSP-thunderbolt:before {
  content: "\e868";
}

.MSP-zoomout:before {
  content: "\e899";
}

.MSP-audio:before {
  content: "\e89b";
}

.MSP-zoomin:before {
  content: "\e89d";
}

.MSP-bug:before {
  content: "\e8e8";
}

.MSP-audiostatic:before {
  content: "\e8e9";
}

.MSP-login:before {
  content: "\e8ef";
}

.MSP-swap-right:before {
  content: "\e8f1";
}

.MSP-swap-left:before {
  content: "\e8f2";
}

.MSP-plus:before {
  content: "\e8fe";
}

.MSP-clear:before {
  content: "\e900";
}

.MSP-collapse1:before {
  content: "\e901";
}

.MSP-expand1:before {
  content: "\e903";
}

.MSP-deletecolumn:before {
  content: "\e904";
}

.MSP-merge-cells:before {
  content: "\e905";
}

.MSP-rotate-left:before {
  content: "\e906";
}

.MSP-rotate-right:before {
  content: "\e907";
}

.MSP-insertrowbelow:before {
  content: "\e908";
}

.MSP-insertrowabove:before {
  content: "\e909";
}

.MSP-table1:before {
  content: "\e90a";
}

.MSP-solit-cells:before {
  content: "\e90b";
}

.MSP-insertrowright:before {
  content: "\e90d";
}

.MSP-formatpainter-fill:before {
  content: "\e90e";
}

.MSP-insertrowleft:before {
  content: "\e910";
}

.MSP-translate:before {
  content: "\e911";
}

.MSP-deleterow:before {
  content: "\e912";
}

.MSP-sisternode:before {
  content: "\e913";
}

.MSP-Field-number:before {
  content: "\e914";
}

.MSP-Field-String:before {
  content: "\e915";
}

.MSP-Function:before {
  content: "\e917";
}

.MSP-Field-time:before {
  content: "\e918";
}

.MSP-Partition:before {
  content: "\e919";
}

.MSP-Storedprocedure:before {
  content: "\e91b";
}

.MSP-Console-SQL:before {
  content: "\e91c";
}

.MSP-icon-test:before {
  content: "\e91d";
}

.MSP-aim:before {
  content: "\e91e";
}

.MSP-compress:before {
  content: "\e91f";
}

.MSP-expend:before {
  content: "\e920";
}

.MSP-folder-view:before {
  content: "\e921";
}

.MSP-file-GIF:before {
  content: "\e922";
}

.MSP-group:before {
  content: "\e923";
}

.MSP-View:before {
  content: "\e925";
}

.MSP-shortcut:before {
  content: "\e926";
}

.MSP-ungroup:before {
  content: "\e927";
}

.MSP-check-circle:before {
  content: "\e77d";
}

.MSP-CI:before {
  content: "\e77f";
}

.MSP-compass:before {
  content: "\e780";
}

.MSP-frown:before {
  content: "\e781";
}

.MSP-plus-circle:before {
  content: "\e783";
}

.MSP-trademark:before {
  content: "\e784";
}

.MSP-down-square:before {
  content: "\e796";
}

.MSP-left-square:before {
  content: "\e79a";
}

.MSP-play-square:before {
  content: "\e79b";
}

.MSP-codelibrary:before {
  content: "\e79d";
}

.MSP-minus-square:before {
  content: "\e79e";
}

.MSP-plus-square:before {
  content: "\e79f";
}

.MSP-wallet:before {
  content: "\e7a0";
}

.MSP-border:before {
  content: "\e7a9";
}

.MSP-border-outer:before {
  content: "\e7aa";
}

.MSP-border-top:before {
  content: "\e7ab";
}

.MSP-border-bottom:before {
  content: "\e7ac";
}

.MSP-border-left:before {
  content: "\e7ad";
}

.MSP-border-right:before {
  content: "\e7af";
}

.MSP-border-inner:before {
  content: "\e7c3";
}

.MSP-border-verticle:before {
  content: "\e7ca";
}

.MSP-border-horizontal:before {
  content: "\e7cd";
}

.MSP-radius-bottomleft:before {
  content: "\e7cf";
}

.MSP-radius-bottomright:before {
  content: "\e7d0";
}

.MSP-radius-upleft:before {
  content: "\e7d6";
}

.MSP-radius-upright:before {
  content: "\e7db";
}

.MSP-radius-setting:before {
  content: "\e7dc";
}

.MSP-adduser:before {
  content: "\e7dd";
}

.MSP-deleteteam:before {
  content: "\e7eb";
}

.MSP-deleteuser:before {
  content: "\e7ed";
}

.MSP-addteam:before {
  content: "\e7ee";
}

.MSP-areachart:before {
  content: "\e7f1";
}

.MSP-linechart:before {
  content: "\e7f2";
}

.MSP-barchart:before {
  content: "\e7f3";
}

.MSP-pointmap:before {
  content: "\e7f5";
}

.MSP-database:before {
  content: "\e7f7";
}

.MSP-sever:before {
  content: "\e7f8";
}

.MSP-tablet:before {
  content: "\e7fa";
}

.MSP-file-image:before {
  content: "\e800";
}

.MSP-file-markdown:before {
  content: "\e801";
}

.MSP-file-unknown:before {
  content: "\e802";
}

.MSP-securityscan:before {
  content: "\e805";
}

.MSP-propertysafety:before {
  content: "\e806";
}

.MSP-liuzhuan:before {
  content: "\e669";
}

.MSP-shrink1:before {
  content: "\e668";
}

.MSP-icon_665:before {
  content: "\e666";
}

.MSP-detail:before {
  content: "\e793";
}

.MSP-link:before {
  content: "\e7ec";
}

.MSP-huahewu1:before {
  content: "\e880";
}

.MSP-zhili:before {
  content: "\e845";
}

.MSP-a-kangti2:before {
  content: "\e667";
}

.MSP-archive:before {
  content: "\e698";
}

.MSP-anticlockwise-2-line:before {
  content: "\e763";
}

.MSP-arrow-go-back-fill:before {
  content: "\e74d";
}

.MSP-tubiao-zhexiantu:before {
  content: "\eb96";
}

.MSP-team:before {
  content: "\e7b1";
}

.MSP-tuichu:before {
  content: "\e6bd";
}

.MSP-Abstract_xinghao_asterisk:before {
  content: "\e6c3";
}

.MSP-deng:before {
  content: "\e787";
}

.MSP-ai_editor:before {
  content: "\e661";
}

.MSP-chat_new:before {
  content: "\e662";
}

.MSP-forward:before {
  content: "\e8ee";
}

.MSP-type-:before {
  content: "\e65f";
}

.MSP-duoxuan2:before {
  content: "\e65d";
}

.MSP-yidongshu:before {
  content: "\e65b";
}

.MSP-shijian:before {
  content: "\e65c";
}

.MSP-remix-icons-line-business-calendar-todo-line:before {
  content: "\e691";
}

.MSP-info:before {
  content: "\e83d";
}

.MSP-jiantou:before {
  content: "\e65e";
}

.MSP-huojian:before {
  content: "\e74b";
}

.MSP-tag:before {
  content: "\e7ea";
}

.MSP-yufangcuoshi:before {
  content: "\e656";
}

.MSP-renwu-1:before {
  content: "\e657";
}

.MSP-daiban:before {
  content: "\e658";
}

.MSP-huiyi:before {
  content: "\e659";
}

.MSP-fengxian:before {
  content: "\e65a";
}

.MSP-renwu:before {
  content: "\e654";
}

.MSP-hangdongjihua:before {
  content: "\e655";
}

.MSP-a-DNAsequence:before {
  content: "\e651";
}

.MSP-a-AAsequence:before {
  content: "\e652";
}

.MSP-Oligo:before {
  content: "\e653";
}

.MSP-library_add_check-o:before {
  content: "\e74a";
}

.MSP-icon_tupianbianji:before {
  content: "\e664";
}

.MSP-ELN-wendingxingshiyanguanli:before {
  content: "\e650";
}

.MSP-ELN-wendingxingquyang:before {
  content: "\e64f";
}

.MSP-expand:before {
  content: "\e64d";
}

.MSP-collapse:before {
  content: "\e64e";
}

.MSP-ELN-yedanguan:before {
  content: "\e64a";
}

.MSP-ELN-huojia:before {
  content: "\e64b";
}

.MSP-ELN-diwenbingxiang:before {
  content: "\e64c";
}

.MSP-zhedietubiao:before {
  content: "\e649";
}

.MSP-danger_or_warning:before {
  content: "\e648";
}

.MSP-a-biaoge-zhankaishouqishang:before {
  content: "\e63e";
}

.MSP-a-biaoge-zhankaishouqixia:before {
  content: "\e640";
}

.MSP-biaoge-paixushengxu:before {
  content: "\e641";
}

.MSP-biaoge-shaixuan:before {
  content: "\e643";
}

.MSP-biaoge-xiala:before {
  content: "\e644";
}

.MSP-biaoge-zhankaishouqi:before {
  content: "\e645";
}

.MSP-biaoge-paixujiangxu:before {
  content: "\e646";
}

.MSP-biaoge-paixumoren:before {
  content: "\e647";
}

.MSP-ELN-shiyanwuse:before {
  content: "\e63d";
}

.MSP-a-tubiao1:before {
  content: "\e63c";
}

.MSP-shiyanwuliao-kongbanlei2:before {
  content: "\e63b";
}

.MSP-shiyanwuliao-jiazi1:before {
  content: "\e63a";
}

.MSP-shiyanwuliao-kongbanlei1:before {
  content: "\e638";
}

.MSP-shiyanwuliao-jiazi:before {
  content: "\e639";
}

.MSP-share:before {
  content: "\e7e8";
}

.MSP-shiyanwuliao-kongbanlei:before {
  content: "\e637";
}

.MSP-shiyanwuliao-putonglei:before {
  content: "\e636";
}

.MSP-shiyan-rukuguanli1:before {
  content: "\e633";
}

.MSP-mobile:before {
  content: "\e7b2";
}

.MSP-yiqi-shebeikuguanli:before {
  content: "\e632";
}

.MSP-shiyanjiluben-yangpin:before {
  content: "\e61c";
}

.MSP-bofang1:before {
  content: "\e62c";
}

.MSP-zanting:before {
  content: "\e635";
}

.MSP-tingzhi:before {
  content: "\e67d";
}

.MSP-guanbi:before {
  content: "\e642";
}

.MSP-yiqi-baoyangguanli1:before {
  content: "\e62f";
}

.MSP-yiqi-baofeiguanli1:before {
  content: "\e630";
}

.MSP-yiqi-xiaoyanguanli1:before {
  content: "\e631";
}

.MSP-yiqi-shebeipeizhi1:before {
  content: "\e622";
}

.MSP-yiqi-jichupeizhi1:before {
  content: "\e627";
}

.MSP-yiqi-shebeitaizhang:before {
  content: "\e628";
}

.MSP-yiqi-shenjirizhi1:before {
  content: "\e629";
}

.MSP-yiqi-weixiuguanli1:before {
  content: "\e62b";
}

.MSP-yiqi-shiyongjilu1:before {
  content: "\e62d";
}

.MSP-yiqi-shebeidengji1:before {
  content: "\e62e";
}

.MSP-yiqi-baoyangguanli:before {
  content: "\e626";
}

.MSP-yiqi-shebeitaizhang1:before {
  content: "\e625";
}

.MSP-yiqi-shebeidengji:before {
  content: "\e61b";
}

.MSP-yiqi-xiaoyanguanli:before {
  content: "\e61d";
}

.MSP-yiqi-shenjirizhi:before {
  content: "\e61e";
}

.MSP-yiqi-weixiuguanli:before {
  content: "\e61f";
}

.MSP-yiqi-jichupeizhi:before {
  content: "\e620";
}

.MSP-yiqi-shiyongjilu:before {
  content: "\e621";
}

.MSP-yiqi-baofeiguanli:before {
  content: "\e623";
}

.MSP-yiqi-shebeipeizhi:before {
  content: "\e624";
}

.MSP-shiyan-xibaokuguanli:before {
  content: "\e610";
}

.MSP-shiyan-kucunguanli:before {
  content: "\e612";
}

.MSP-shiyan-xibaopeizhi:before {
  content: "\e615";
}

.MSP-shiyan-rukuguanli:before {
  content: "\e617";
}

.MSP-shiyan-baofeiguanli:before {
  content: "\e618";
}

.MSP-shiyan-tuikuguanli:before {
  content: "\e61a";
}

.MSP-shiyan-shenjirizhi:before {
  content: "\e616";
}

.MSP-shiyan-shenlingguanli:before {
  content: "\e619";
}

.MSP-shiyan-wuliaocangkuguanli:before {
  content: "\e609";
}

.MSP-shiyan-xibaoguanli:before {
  content: "\e60a";
}

.MSP-shiyan-rongyepeizhi:before {
  content: "\e60e";
}

.MSP-shiyan-didingyeguanli:before {
  content: "\e611";
}

.MSP-shiyan-jichupeizhi:before {
  content: "\e613";
}

.MSP-shiyan-wuliaopeizhi:before {
  content: "\e614";
}

.MSP-filter-fill:before {
  content: "\e866";
}

.MSP-check-box-outline-bl:before {
  content: "\ec58";
}

.MSP-check_box_px_rounded:before {
  content: "\edaf";
}

.MSP-biaoqian:before {
  content: "\e696";
}

.MSP-IPguangchang:before {
  content: "\e607";
}

.MSP-audit:before {
  content: "\e7cc";
}

.MSP-gongsidanwei:before {
  content: "\e684";
}

.MSP-mubiao:before {
  content: "\e62a";
}

.MSP-column-width:before {
  content: "\e7fd";
}

.MSP-file-exclamation:before {
  content: "\e7c9";
}

.MSP-fund:before {
  content: "\e7e6";
}

.MSP-message1:before {
  content: "\e78a";
}

.MSP-warning-circle:before {
  content: "\e785";
}

.MSP-error:before {
  content: "\e7e5";
}

.MSP-file-ppt:before {
  content: "\e7c2";
}

.MSP-image:before {
  content: "\e7e4";
}

.MSP-data-lock:before {
  content: "\e60b";
}

.MSP-api:before {
  content: "\e7e3";
}

.MSP-desktop:before {
  content: "\e842";
}

.MSP-shrink:before {
  content: "\e7e9";
}

.MSP-quanping:before {
  content: "\e63f";
}

.MSP-box:before {
  content: "\e8b5";
}

.MSP-folder1:before {
  content: "\e7d1";
}

.MSP-folder-open:before {
  content: "\e7d4";
}

.MSP-file-word:before {
  content: "\e7c8";
}

.MSP-xibaocells:before {
  content: "\e634";
}

.MSP-container:before {
  content: "\e7b0";
}

.MSP-line-box:before {
  content: "\e749";
}

.MSP-menu:before {
  content: "\e7f4";
}

.MSP-file-text:before {
  content: "\e7c1";
}

.MSP-printer:before {
  content: "\e7da";
}

.MSP-edit1:before {
  content: "\e7e2";
}

.MSP-ellipsis:before {
  content: "\e7fc";
}

.MSP-dashboard:before {
  content: "\e78b";
}

.MSP-hourglass:before {
  content: "\e7c6";
}

.MSP-iconset0470:before {
  content: "\e75d";
}

.MSP-info-circle:before {
  content: "\e77e";
}

.MSP-reloadtime:before {
  content: "\e789";
}

.MSP-right-square:before {
  content: "\e799";
}

.MSP-nav1:before {
  content: "\e608";
}

.MSP-Import:before {
  content: "\e792";
}

.MSP-block:before {
  content: "\e7e0";
}

.MSP-shiguan:before {
  content: "\e7c0";
}

.MSP-anniu:before {
  content: "\e690";
}

.MSP-danhangshurukuang:before {
  content: "\e692";
}

.MSP-duoxuan:before {
  content: "\e693";
}

.MSP-danxuan:before {
  content: "\e694";
}

.MSP-duohangshurukuang:before {
  content: "\e695";
}

.MSP-fuhao-ziti:before {
  content: "\e747";
}

.MSP-sync:before {
  content: "\e786";
}

.MSP-web:before {
  content: "\e606";
}

.MSP-scan:before {
  content: "\e605";
}

.MSP-table:before {
  content: "\e7de";
}

.MSP-attachment:before {
  content: "\e7e1";
}

.MSP-pic-left:before {
  content: "\e7f6";
}

.MSP-filedone:before {
  content: "\e7bf";
}

.MSP-cloud:before {
  content: "\e7d9";
}

.MSP-cangchucangku:before {
  content: "\e98c";
}

.MSP-chayan:before {
  content: "\e98d";
}

.MSP-fapiao:before {
  content: "\e98e";
}

.MSP-fenbushi:before {
  content: "\e98f";
}

.MSP-fuwuqi:before {
  content: "\e990";
}

.MSP-fenzhi:before {
  content: "\e991";
}

.MSP-fengfuduoyuan:before {
  content: "\e992";
}

.MSP-haxi:before {
  content: "\e993";
}

.MSP-jishufuwu:before {
  content: "\e994";
}

.MSP-jiangben:before {
  content: "\e995";
}

.MSP-jiekoupeizhi:before {
  content: "\e996";
}

.MSP-jianguanfengkong:before {
  content: "\e997";
}

.MSP-jingquezhunque:before {
  content: "\e998";
}

.MSP-kuaisugaoxiao:before {
  content: "\e999";
}

.MSP-lianjie:before {
  content: "\e99a";
}

.MSP-linghuokuozhan:before {
  content: "\e99b";
}

.MSP-qukuai:before {
  content: "\e99c";
}

.MSP-notemodel:before {
  content: "\e99d";
}

.MSP-quanqiukuajing:before {
  content: "\e99e";
}

.MSP-shijianzhouqi:before {
  content: "\e99f";
}

.MSP-shijianchuo:before {
  content: "\e9a0";
}

.MSP-shuzihua:before {
  content: "\e9a1";
}

.MSP-suyuan:before {
  content: "\e9a2";
}

.MSP-shujuku:before {
  content: "\e9a3";
}

.MSP-wendingkekao:before {
  content: "\e9a4";
}

.MSP-xinyongkayinhangka:before {
  content: "\e9a5";
}

.MSP-shenfenshibierenzheng:before {
  content: "\e9a6";
}

.MSP-xingnengjisuan:before {
  content: "\e9a7";
}

.MSP-shujujianguan:before {
  content: "\e9a8";
}

.MSP-zhengzhaozhizhao:before {
  content: "\e9a9";
}

.MSP-zhinengheyue:before {
  content: "\e9aa";
}

.MSP-yaowan:before {
  content: "\e818";
}

.MSP-fenlei:before {
  content: "\e811";
}

.MSP-baogao:before {
  content: "\e812";
}

.MSP-kuaidi:before {
  content: "\e813";
}

.MSP-youzhi:before {
  content: "\e819";
}

.MSP-wujisu:before {
  content: "\e81a";
}

.MSP-yichuan:before {
  content: "\e601";
}

.MSP-control:before {
  content: "\e795";
}

.MSP-cluster:before {
  content: "\e7d7";
}

.MSP-CodeSandbox:before {
  content: "\e87e";
}

.MSP-codepen:before {
  content: "\e87f";
}

.MSP-apartment:before {
  content: "\e898";
}

.MSP-yingjian:before {
  content: "\ec89";
}

.MSP-filesearch:before {
  content: "\e7be";
}

.MSP-experiment:before {
  content: "\e7c4";
}

.MSP-trophy:before {
  content: "\e7c5";
}

.MSP-rocket:before {
  content: "\e7ce";
}

.MSP-carryout:before {
  content: "\e7d3";
}

.MSP-gold:before {
  content: "\e7df";
}

.MSP-robot:before {
  content: "\e897";
}

.MSP-index:before {
  content: "\e90f";
}

.MSP-project:before {
  content: "\e798";
}

.MSP-piechart:before {
  content: "\e78e";
}

.MSP-setting:before {
  content: "\e78f";
}

.MSP-save1:before {
  content: "\e791";
}

.MSP-layout:before {
  content: "\e794";
}

.MSP-user:before {
  content: "\e7ae";
}

.MSP-book:before {
  content: "\e7b3";
}

.MSP-reconciliation:before {
  content: "\e7b4";
}

.MSP-file-exception:before {
  content: "\e7b5";
}

.MSP-filesync:before {
  content: "\e7b6";
}

.MSP-solution:before {
  content: "\e7b7";
}

.MSP-fileprotect:before {
  content: "\e7b8";
}

.MSP-file-add:before {
  content: "\e7b9";
}

.MSP-file-excel:before {
  content: "\e7ba";
}

.MSP-file-pdf:before {
  content: "\e7bb";
}

.MSP-file2:before {
  content: "\e7bc";
}

.MSP-file-zip:before {
  content: "\e7bd";
}

.MSP-filter:before {
  content: "\e7c7";
}

.MSP-flag:before {
  content: "\e7cb";
}

.MSP-deploymentunit:before {
  content: "\e7d2";
}

.MSP-build:before {
  content: "\e7d5";
}

.MSP-read:before {
  content: "\e7d8";
}

.MSP-branches:before {
  content: "\e7e7";
}

.MSP-switchuser:before {
  content: "\e8ea";
}

.MSP-appstoreadd:before {
  content: "\e8eb";
}

.MSP-formatpainter:before {
  content: "\e902";
}

.MSP-Report:before {
  content: "\e916";
}

.MSP-icon_left:before {
  content: "\edb0";
}

.MSP-icon_down:before {
  content: "\edb1";
}

.MSP-icon_right:before {
  content: "\e728";
}

.MSP-icon_off:before {
  content: "\e729";
}

.MSP-icon_up:before {
  content: "\e72a";
}

